<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="js/main.js"></script>
</head>
<body id="content" ng-app="myAngularApp" >
    <!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="myController" class="container" style="padding-left: 40px">
        <div id="searchDiv" class="col-md-3">
            <h1 class="myHeader">{{ message }}</h1>
            <form>
                <input class="myInput" required type="search" pladeholder="username" ng-model="username" >
                <input class="myInput" type="submit" value="search" ng-click="search(username)">
                
            </form>
        </div>
        <div class="col-md-9 text-center">
            <div ng-show="user">
                <a class="myTag" target="_blank" href="{{user.html_url}}"><img id="userPicture" ng-show="user" src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" alt="Picture"></a>
                <h3 class="myHeader" style="display: inline;">{{ user.name }}</h3>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th class="text-center" ng-click="sortList('+name')"><span class="cursorHeader">Name</span></th>
                            <th class="text-center" ng-click="sortList('-stargazers_count')"><span class="cursorHeader">Stars</span></th>
                            <th class="text-center" ng-click="sortList('-language')"><span class="cursorHeader">Languages</span></th>
                            <th class="text-center" ng-click="sortList('-created_at')"><span class="cursorHeader">Created at</span></th>
                        </tr>
                    </thead>
                    <span ng-repeat="star in []| range:players[0].repos"></span>
                    <tbody>
                        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                            <td><a class="myTag" target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></td>
                            <td>{{repo.stargazers_count}}</td>
                            <td>{{repo.language}}</td>
                            <td>{{repo.created_at | date:'fullDate'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    
    
</body>
</html>
